<div class="slideout-content">
  <!-- Modal to add new user starts-->
  <div
    class="modalsd modal-slide-in sdfade new-user-modal"
    id="modals-slide-in"
  >
    <div class="modal-dialog">
      <form class="add-new-user modal-content pt-0" #clientForm="ngForm">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('client-sidebar')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title text-success" id="exampleModalLabel">
            Add new Client
          </h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname"
              >First Name</label
            >
            <input
              type="text"
              class="form-control dt-full-name"
              id="basic-icon-default-fullname"
              placeholder="John "
              name="firstName"
              required
              aria-label="John Doe"
              aria-describedby="basic-icon-default-fullname2"
              ngModel
            />
            <span *ngIf="clientForm.submitted" class="invalid-form">
              <small class="form-text text-success"
                >This field is required!</small
              >
            </span>
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-uname"
              >Last Name</label
            >
            <input
              type="text"
              id="basic-icon-default-uname"
              class="form-control dt-uname"
              placeholder="Doe"
              aria-label="jdoe1"
              aria-describedby="basic-icon-default-uname2"
              name="lastName"
              required
              ngModel
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-email"
              >Email</label
            >
            <input
              type="text"
              id="basic-icon-default-email"
              class="form-control dt-email"
              placeholder="john.doe@example.com"
              aria-label="john.doe@example.com"
              aria-describedby="basic-icon-default-email2"
              name="username"
              required
              ngModel
            />
          </div>
          <!-- <div class="form-group">
            <label class="form-label" for="basic-icon-default-uname"
              >Company</label
            >
            <input
              type="text"
              id="basic-icon-default-uname"
              class="form-control dt-uname"
              placeholder="Apple Inc."
              aria-label="jdoe1"
              aria-describedby="basic-icon-default-uname2"
              name="company"
              ngModel
            />
            
          </div> -->
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-uname"
              >Password</label
            >
            <input
              type="password"
              id="basic-icon-default-uname"
              class="form-control dt-uname"
              aria-label="jdoe1"
              aria-describedby="basic-icon-default-uname2"
              name="password"
              required
              ngModel
            />
          </div>

          <button
            type="submit"
            class="btn btn-success mr-1"
            (click)="submit(clientForm)"
            rippleEffect
          >
            Submit
          </button>
          <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="toggleSidebar('client-sidebar')"
            rippleEffect
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
