<div class="row">
  <h2 class="content-header-title col-3 float-left mb-1 border-right">
    Chat Page
  </h2>
</div>
<div class="row mt-1">
  <div class="content-area-wrapper col-12">
    <!-- sidebar Left -->

    <!-- chat-sidebar -->
    <div class="sidebar-left">
      <div class="sidebar">
        <core-sidebar
          class="sidebar-content"
          name="chat-sidebar"
          overlayClass="body-content-overlay"
          collapsibleSidebar="bs-gt-lg"
        >
          <app-chat-sidebar (selectedChat)="selectedId($event)" [refresh]="refresh" class="chat-sidebar-wrapper"></app-chat-sidebar>
        </core-sidebar>

        <!--/ chat-sidebar -->

      </div>
    </div>
    <!--/ chat-user-sidebar -->

    <!--/ sidebar Left -->

    <!-- content-right -->
    <div class="content-right">
      <!-- chat-active-sidebar -->
<!--      <core-sidebar-->
<!--        class="user-profile-sidebar"-->
<!--        name="chat-active-sidebar"-->
<!--        overlayClass="body-content-overlay"-->
<!--        hideOnEsc="true"-->
<!--      >-->
<!--        <app-chat-active-sidebar></app-chat-active-sidebar>-->
<!--      </core-sidebar>-->
      <!--/ chat-active-sidebar -->
      <div class="content-wrapper">
        <div class="content-body">
          <app-chat-content [idSelected]="selectedUser" [refresh]="refresh" ></app-chat-content>
        </div>
      </div>
    </div>
    <!--/ content-right -->
  </div>
</div>
