<div class="row">
  <h2 class="content-header-title col-4 float-left mb-0 border-right">
    Gérer vos Clients
  </h2>
  <app-breadcrumb [breadcrumb]="breadcrumbDefault"></app-breadcrumb>
</div>
<div>
  <div class="panel-body">
    <div class="container mt-3">

      <button
              type="button"
              class="btn btn-relief-success float-right col-3 mt-1"
              (click)="modalOpen(NewClient)"
      >
        Ajouter un Client
      </button>
    </div>
  </div>
  <div class="container mt-3">
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
            <tr>
              <th>Nom du client</th>
              <th>Email</th>
              <th>societe</th>
              <th>Fichiers</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody class="table-striped">
            <tr *ngFor="let a of listClients">
              <td class="justify-content-center">
                <div class="avatar bg-light-success mr-1">
                    <span class="avatar-content">{{
                      GetInitials(a.firstName, a.lastName)
                      }}</span>
                </div>
                {{ a.firstName }} {{ a.lastName }}
              </td>
              <td>{{ a.email }}</td>
              <td>
                <div class="badge badge-info">{{ a.company.name }}</div>
              </td>

              <td>
                <button type="button" class="btn btn-success" (click)="goToFichierComponent(a)" rippleEffect>Consulter Fichiers</button>
              </td>

              <td>
                <div class="btn-group">
                  <div ngbDropdown container="body" class="dropdown">
                    <button
                            ngbDropdownToggle
                            data-toggle="dropdown"
                            class="dropdown-toggle btn btn-sm hide-arrow"
                            type="button"
                            id="dropdownMenuButton300"
                            aria-expanded="true"
                    >
                      <span [data-feather]="'more-vertical'"></span>
                    </button>
                    <div
                            ngbDropdownMenu
                            aria-labelledby="dropdownMenuButton300"
                    >
                      <a
                              ngbDropdownItem
                              (click)="modalOpen(EditClient)"
                              (click)="goToModal(a)"
                      ><span [data-feather]="'edit'" class="mr-1"></span
                      >Modifier</a
                      >
                      <a
                              ngbDropdownItem
                              (click)="modalOpen(ChangePassword)"
                              (click)="goToModal(a)"
                      ><span [data-feather]="'edit'" class="mr-1"></span
                      >Changer Mot de Passe</a
                      >

                      <a ngbDropdownItem (click)="onDeleteClient(a)"
                      ><span [data-feather]="'delete'" class="mr-1"></span
                      >Supprimer</a
                      >

                      <a
                              ngbDropdownItem
                              (click)="modalOpenLG(ProfileClient)"
                              (click)="goToModal(a)"
                      ><span [data-feather]="'award'" class="mr-1"></span
                      >Profil</a
                      >

                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>
</div>

<!-- addClient -->
<ng-template #NewClient let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-success" id="myModalLabel1">
      Ajouter un Client
    </h4>
    <button
            type="button"
            class="close"
            (click)="modal.dismiss('NewAssistant')"
            aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form class="add-new-user modal-content pt-0" #NewClientForm="ngForm">
      <div class="modal-body flex-grow-1">
        <div class="form-group">
          <label class="form-label" for="basic-icon-default-fullname"
          >Prénom</label
          >
          <input
                  [(ngModel)]="userToAdd.firstName"
                  type="text"
                  class="form-control dt-full-name"
                  placeholder="Doe"
                  name="firstName"
                  required
                  aria-label="John Doe"
                  aria-describedby="basic-icon-default-fullname2"
          />

        </div>
        <div class="form-group">
          <label class="form-label" for="basic-icon-default-uname">Nom</label>
          <input
                  [(ngModel)]="userToAdd.lastName"
                  type="text"
                  class="form-control dt-uname"
                  placeholder="Jhon"
                  aria-label="jdoe1"
                  aria-describedby="basic-icon-default-uname2"
                  name="lastName"
                  required
          />

        </div>
        <div class="form-group">
          <label class="form-label" for="basic-icon-default-email">Email</label>
          <input
                  [(ngModel)]="userToAdd.email"
                  type="text"
                  class="form-control dt-email"
                  placeholder="john.doe@example.com"
                  aria-label="john.doe@example.com"
                  aria-describedby="basic-icon-default-email2"
                  name="email"

                  required
          />
          <small class="form-text text-muted">
            You can use letters, numbers & periods
          </small>
        </div>
        <div class="form-group">
          <label class="form-label" for="basic-icon-default-uname"
          >Mobile</label
          >
          <input
                  [(ngModel)]="userToAdd.tel"
                  type="text"
                  class="form-control dt-uname"
                  placeholder="(+216)  XX XXX XXX"
                  aria-label="jdoe1"
                  aria-describedby="basic-icon-default-uname2"
                  name="tel"

                  required
          />
        </div>
        <div class="form-group">
          <label class="form-label" for="basic-icon-default-uname">Company</label>
          <select
                  [(ngModel)]="selectedCompany"
                  type="text"
                  class="form-control dt-uname"
                  placeholder="Select Company"
                  aria-describedby="basic-icon-default-uname2"
                  name="username"
                  required
          >
            <option *ngFor=" let company of listCompanies" [value]="company.id">{{company.name}}</option>
          </select>
        </div>


        <div class="form-group">
          <label class="form-label" for="basic-icon-default-uname"
          >Nom de Compte</label
          >
          <input
                  [(ngModel)]="userToAdd.username"
                  type="text"
                  class="form-control dt-uname"
                  placeholder="Jhon"
                  aria-label="jdoe1"
                  aria-describedby="basic-icon-default-uname2"
                  name="username"

                  required
          />
          <span *ngIf="response == 'username already used' " class="invalid-form">
            <small class="form-text text-success"
            >This username is already used!</small
            >
          </span>

        </div>

        <div class="form-group">
          <label class="form-label" for="basic-icon-default-uname"
          >Mot de Passe</label
          >
          <input
                  [(ngModel)]="userToAdd.password"
                  type="password"
                  class="form-control dt-uname"
                  aria-label="jdoe1"
                  aria-describedby="basic-icon-default-uname2"
                  name="user-name"

                  required
          />

        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
            type="submit"
            [disabled]="NewClientForm.invalid"
            class="btn btn-success mr-1"
            (click)="onSaveClient()"

            rippleEffect
    >
      Sauvegarder
    </button>
    <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="modal.close('NewAssistant')"
            rippleEffect
    >
      Annuler
    </button>
  </div>
</ng-template>
<!-- / Modal -->

<!-- modifClient -->
<ng-template #EditClient let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-warning" id="myModalLabel1">
      Modifier un Client
    </h4>
    <button
            type="button"
            class="close"
            (click)="modal.dismiss('Cross click')"
            aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form class="add-new-user modal-content pt-0" #EditClientForm="ngForm">
      <div class="modal-body flex-grow-1">
        <div class="form-group">
          <label class="form-label" for="basic-icon-default-fullname"
          >Prénom</label
          >
          <input
                  [(ngModel)]="userToEdit.firstName"
                  type="text"
                  class="form-control dt-full-name"
                  id="basic-icon-default-fullname"
                  placeholder="Doe"
                  name="firstName"
                  required
                  aria-label="John Doe"
                  aria-describedby="basic-icon-default-fullname2"
          />
        </div>
        <div class="form-group">
          <label class="form-label" for="basic-icon-default-uname">Nom</label>
          <input
                  [(ngModel)]="userToEdit.lastName"
                  type="text"
                  id="basic-icon-default-uname"
                  class="form-control dt-uname"
                  placeholder="Jhon"
                  aria-label="jdoe1"
                  aria-describedby="basic-icon-default-uname2"
                  name="lastName"
                  required
          />

        </div>
        <div class="form-group">
          <label class="form-label" for="basic-icon-default-email">Email</label>
          <input
                  [(ngModel)]="userToEdit.email"
                  type="text"
                  id="basic-icon-default-email"
                  class="form-control dt-email"
                  placeholder="john.doe@example.com"
                  aria-label="john.doe@example.com"
                  aria-describedby="basic-icon-default-email2"
                  name="email"
                  required
          />

          <small class="form-text text-muted">
            You can use letters, numbers & periods
          </small>
        </div>
        <div class="form-group">
          <label class="form-label" for="basic-icon-default-uname"
          >Mobile</label
          >
          <input
                  [(ngModel)]="userToEdit.tel"
                  type="text"
                  id="basic-icon-default-uname"
                  class="form-control dt-uname"
                  placeholder="(+216)  XX XXX XXX"
                  aria-label="jdoe1"
                  aria-describedby="basic-icon-default-uname2"
                  name="tel"
                  required
          />
        </div>
        <div class="form-group">
          <label class="form-label" for="basic-icon-default-uname">Poste dans la Société mère</label>
          <input
                  [(ngModel)]="userToEdit.poste"
                  type="text"
                  id="basic-icon-default-uname"
                  class="form-control dt-uname"
                  placeholder="Jhon"
                  aria-label="jdoe1"
                  aria-describedby="basic-icon-default-uname2"
                  name="poste"
                  required
          />
        </div>


        <div class="form-group">
          <label class="form-label" for="basic-icon-default-uname">Company</label>
          <select
                  [(ngModel)]="selectedCompany"
                  type="text"
                  class="form-control dt-uname"
                  placeholder="Select Company"
                  aria-describedby="basic-icon-default-uname2"
                  name="username"
                  required
          >
            <option *ngFor=" let company of listCompanies" [value]="company.id">{{company.name}}</option>
          </select>
        </div>



        <div class="form-group">
          <label class="form-label" for="basic-icon-default-uname">Nom de Compte</label>
          <input
                  [(ngModel)]="userToEdit.username"
                  type="text"

                  class="form-control dt-uname"
                  placeholder="Jhon"
                  aria-label="jdoe1"
                  aria-describedby="basic-icon-default-uname2"
                  name="username"
                  required
          />
        </div>
        <span *ngIf="response == 'username already used' " class="invalid-form">
            <small class="form-text text-success"
            >This username is already used!</small
            >
          </span>


      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
            type="submit"
            class="btn btn-warning mr-1"
            [disabled]="EditClientForm.invalid"
            (click)="OnEditClient()"
            (click)="modal.close('Accept click')"
            rippleEffect
    >
      Sauvegarder
    </button>
    <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="modal.close('Accept click')"
            rippleEffect
    >
      Annuler
    </button>
  </div>
</ng-template>

<!-- / Modal -->
<ng-template #ProfileClient let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-warning" id="myModalLabel1">Informations</h4>
    <button
            type="button"
            class="close"
            (click)="modal.dismiss('Cross click')"
            aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="content-wrapper">
    <div class="card user-card">
      <div class="card-body">
        <div class="row">
          <div
                  class="
                col-xl-6 col-lg-12
                d-flex
                flex-column
                justify-content-between
                border-container-lg
              "
          >
            <div class="user-avatar-section">
              <div class="d-flex justify-content-start">
                <div>
                  <img
                          class="img-fluid rounded"
                          src="../../../assets/images/avatars/2.png"
                          height="104"
                          width="104"
                          alt="User avatar"
                  />
                </div>
                <ng-template #customAvatar>
                  <div class="mr-1 ml-0">
                    <div
                            [ngClass]="{
                          'bg-light-success': data.status == 'active',
                          'bg-light-secondary': data.status == 'inactive',
                          'bg-light-warning': data.status == 'pending'
                        }"
                            class="rounded p-3"
                    >
                      <h2
                              [ngClass]="{
                            'text-success': data.status == 'active',
                            'text-secondary': data.status == 'inactive',
                            'text-warning': data.status == 'pending'
                          }"
                              class="m-0"
                      >
                        initials
                      </h2>
                    </div>
                  </div>
                </ng-template>
                <div class="d-flex flex-column ml-1">
                  <div class="user-info mb-1">
                    <h4 class="mb-0">
                      {{ userToEdit.firstName }} {{ userToEdit.lastName }}
                    </h4>
                    <span class="card-text">{{ userToEdit.email }}</span>
                  </div>
                  <div class="d-flex flex-wrap">
                    <button
                            (click)="modalClose(ProfileClient)"
                            (click)="modalOpen(EditClient)"
                            (click)="goToModal(userToEdit)"
                            class="btn btn-primary"
                            rippleEffect
                    >
                      Editer
                    </button>
                    <button
                            (click)="onDeleteUser(a)"
                            class="btn btn-outline-danger ml-1"
                            rippleEffect
                    >
                      Supprimer
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center user-total-numbers">
              <div class="d-flex align-items-center mt-2">
                <div class="color-box bg-light-success">
                  <i
                          [data-feather]="'trending-up'"
                          [class]="'text-success'"
                  ></i>
                </div>
                <div class="ml-1 mt-2">
                  <h5 class="mb-0">24</h5>
                  <small>Nombre de Fichiers</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
            <div class="user-info-wrapper">
              <div class="d-flex flex-wrap">
                <div class="user-info-title">
                  <i data-feather="user" class="mr-1"></i>
                  <span
                          class="card-text user-info-title font-weight-bold mb-0"
                  >Username :</span
                  >
                </div>
                <p class="card-text ml-2 mb-0 ">{{ userToEdit.username }}</p>
              </div>
              <div class="d-flex flex-wrap my-50">
                <div class="user-info-title">
                  <i data-feather="check" class="mr-1"></i>
                  <span
                          class="card-text user-info-title font-weight-bold mb-0"
                  >Status &nbsp;&nbsp; :</span
                  >
                </div>
                <p class="card-text mb-0 ml-2">Active</p>
              </div>
              <div class="d-flex flex-wrap my-50">
                <div class="user-info-title">
                  <i data-feather="star" class="mr-1"></i>
                  <span
                          class="card-text user-info-title font-weight-bold mb-0"
                  >Poste &nbsp; &nbsp; :</span
                  >
                </div>
                <p class="card-text ml-2 mb-0">{{ userToEdit.poste }}</p>
              </div>
              <div class="d-flex flex-wrap my-50">
                <div class="user-info-title">
                  <i data-feather="flag" class="mr-1"></i>
                  <span
                          class="card-text user-info-title font-weight-bold mb-0"
                  >Country :</span
                  >
                </div>
                <p class="card-text mb-0 ml-2">Tunisia</p>
              </div>
              <div class="d-flex flex-wrap">
                <div class="user-info-title">
                  <i data-feather="phone" class="mr-1"></i>
                  <span
                          class="card-text user-info-title font-weight-bold mb-0"
                  >Contact :</span
                  >
                </div>
                <p class="card-text mb-0 ml-2">{{ userToEdit.tel }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="modal.close('Accept click')"
            rippleEffect
    >
      Quitter
    </button>
  </div>
</ng-template>
<!-- / Modal -->

<!-- Modal -->
<ng-template #ChangePassword let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">Changer le mot de passe</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form action="#">
      <label>Nouveau Mot de Passe</label>
      <div class="form-group">
        <input [(ngModel)]="userToEdit.password" name="editedUserPassword" type="password" placeholder="Nouveau Mot de Passe" class="form-control" />
      </div>
      <label>Confirmer le Nouveau Mot de Passe</label>
      <div class="form-group">
        <input name ="confirmedPassword" type="password" placeholder="" class="form-control" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" (click)="onChangePassword()" rippleEffect>
      Sauvegarder
    </button>
  </div>
</ng-template>
<!-- / Modal -->

