<div class="row">
  <h2 class="content-header-title col-3 float-left mb-0 border-right">
    Gérer vos Clients
  </h2>
  <app-breadcrumb [breadcrumb]="breadcrumbDefault"></app-breadcrumb>
</div>
<div class="row">
  <div class="col-12">
    <div class="panel-body">
      <div class="container mt-3">
        <div
          class="
            d-flex
            align-items-center
            justify-content-end
            float-left
            col-3
            mt-1
            mb-1
          "
        >
          <label class="d-flex align-items-center"
            >Search<input
              type="search"
              placeholder="Search"
              class="form-control ml-25"
          /></label>
        </div>
        <button
          type="button"
          class="btn btn-relief-success float-right col-3 mt-1"
          (click)="toggleSidebar('client-sidebar')"
        >
          Ajouter un Client
        </button>
      </div>
    </div>
    <div class="container mt-3">
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="table-responsive">
            <table *ngIf="clients" class="table">
              <thead class="thead-light">
                <tr>
                  <th>Nom du Client</th>
                  <th>Mail</th>
                  <th>Liste Fichiers</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="table-striped">
                <tr *ngFor="let c of clients">
                  <td class="justify-content-center">
                    <div class="avatar bg-light-success mr-1">
                      <span class="avatar-content">{{
                        GetInitials(c.firstName, c.lastName)
                      }}</span>
                    </div>
                    {{ c.firstName }} {{ c.lastName }}
                  </td>
                  <td>{{ c.email }}</td>

                  <td>
                    <div class="btn-group">
                      <div ngbDropdown>
                        <button
                          ngbDropdownToggle
                          class="btn btn-flat-primary btn-sm"
                          type="button"
                          id="dropdownMenuButton300"
                          rippleEffect
                        >
                          Fichiers Associés
                        </button>
                        <div
                          ngbDropdownMenu
                          aria-labelledby="dropdownMenuButton300"
                        >
                          <a
                            *ngFor="let f of c.fichiers"
                            ngbDropdownItem
                            href="javascript:void(0)"
                            >{{ f.name }}</a
                          >
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="btn-group">
                      <div ngbDropdown container="body" class="dropdown">
                        <button
                          ngbDropdownToggle
                          data-toggle="dropdown"
                          class="dropdown-toggle btn btn-sm hide-arrow"
                          type="button"
                          id="dropdownMenuButton300"
                          aria-expanded="true"
                        >
                          <span [data-feather]="'more-vertical'"></span>
                        </button>
                        <div
                          ngbDropdownMenu
                          aria-labelledby="dropdownMenuButton300"
                        >
                          <a ngbDropdownItem href="javascript:void(0)"
                            ><span [data-feather]="'edit'" class="mr-1"></span
                            >Edit</a
                          >
                          <a ngbDropdownItem (click)="onDeleteClient(c)"
                            ><span [data-feather]="'delete'" class="mr-1"></span
                            >Delete</a
                          >
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="text-center">
              <ngb-pagination
                [collectionSize]="50"
                [(page)]="pageBasicText"
                aria-label="Custom pagination"
                class="d-flex justify-content-around mt-3"
              >
                <ng-template ngbPaginationPrevious
                  ><span
                    [data-feather]="'chevron-left'"
                    [class]="'font-weight-bolde'"
                  ></span
                  >Prev
                </ng-template>
                <ng-template ngbPaginationNext
                  >Next<span
                    [data-feather]="'chevron-right'"
                    [class]="'font-weight-bolder'"
                  ></span>
                </ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- New Client Sidebar -->
  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="client-sidebar"
    overlayClass="modal-backdrop"
  >
    <app-client-sidebar></app-client-sidebar>
  </core-sidebar>
  <!--/ New Client Sidebar -->
</div>
