<div class="row">
  <h2 class="content-header-title col-3 float-left mb-0 border-right">
    Admin Home Page
  </h2>
  <app-breadcrumb [breadcrumb]="breadcrumbDefault"></app-breadcrumb>
</div>
<div class="row match-height mt-2">
  <!-- Medal Card -->
  <div class="col-xl-4 col-md-6 col-12">
    <div class="card card-congratulation-medal">
      <div class="card-body">
        <h5>Congratulations 🎉</h5>
        <p class="card-text font-small-3">Revenue total</p>
        <h3 class="mb-75 mt-2 pt-50">
          <a href="javascript:void(0);">48.9k DT</a>
        </h3>
        <button type="button" class="btn btn-primary" rippleEffect>
          Tout les Transactions
        </button>
        <img
          src="assets/images/illustration/badge.svg"
          class="congratulation-medal"
          alt="Medal Pic"
        />
      </div>
    </div>
  </div>
  <!--/ Medal Card -->

  <!-- Statistics Card -->
  <div class="col-xl-8 col-md-6 col-12">
    <div class="card card-statistics">
      <div class="card-header">
        <h4 class="card-title">Statistics</h4>
        <div class="d-flex align-items-center">
          <p class="card-text font-small-2 mr-25 mb-0">Updated 1 month ago</p>
        </div>
      </div>
      <div class="card-body statistics-body">
        <div class="row">
          <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
            <div class="media">
              <div class="avatar bg-light-primary mr-2">
                <div class="avatar-content">
                  <i data-feather="trending-up" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">890</h4>
                <p class="card-text font-small-3 mb-0">Taches finis</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
            <div class="media">
              <div class="avatar bg-light-info mr-2">
                <div class="avatar-content">
                  <i data-feather="user" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">485</h4>
                <p class="card-text font-small-3 mb-0">Clients</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
            <div class="media">
              <div class="avatar bg-light-danger mr-2">
                <div class="avatar-content">
                  <i data-feather="box" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">1423</h4>
                <p class="card-text font-small-3 mb-0">Fichiers</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="media">
              <div class="avatar bg-light-success mr-2">
                <div class="avatar-content">
                  <i data-feather="dollar-sign" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">9465 DT</h4>
                <p class="card-text font-small-3 mb-0">Revenue</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Statistics Card -->
</div>
<div class="row match-height mt-1">
  <div class="col-lg-4 col-md-6 col-12">
    <div class="card card-developer-meetup">
      <div class="bg-light-primary rounded-top text-center">
        <img
          src="assets/images/illustration/email.svg"
          alt="Meeting Pic"
          height="170"
        />
      </div>
      <div class="card-body">
        <div class="meetup-header d-flex align-items-center">
          <div class="meetup-day">
            <h6 class="mb-0">Lun</h6>
            <h3 class="mb-0">3</h3>
          </div>
          <div class="my-auto">
            <h4 class="card-title mb-25">Réunion Dev</h4>
            <p class="card-text mb-0">Parlons du Front End</p>
          </div>
        </div>
        <div class="media">
          <div class="avatar bg-light-primary rounded mr-1">
            <div class="avatar-content">
              <i data-feather="calendar" class="avatar-icon font-medium-3"></i>
            </div>
          </div>
          <div class="media-body">
            <h6 class="mb-0">Lundi, Juin 30, 2021</h6>
            <small>8:00AM to 6:00PM</small>
          </div>
        </div>
        <div class="media">
          <div class="avatar bg-light-primary rounded mr-1">
            <div class="avatar-content">
              <i data-feather="map-pin" class="avatar-icon font-medium-3"></i>
            </div>
          </div>
          <div class="media-body">
            <h6 class="mb-0">Kyrannis Digital</h6>
            <small>Sousse</small>
          </div>
        </div>
        <div class="avatar-group">
          <div
            placement="bottom"
            ngbTooltip="Billy Hopkins"
            class="avatar pull-up"
          >
            <img
              src="assets/images/portrait/small/avatar-s-9.jpg"
              alt="Avatar"
              width="33"
              height="33"
            />
          </div>
          <div
            placement="bottom"
            ngbTooltip="Amy Carson"
            class="avatar pull-up"
          >
            <img
              src="assets/images/portrait/small/avatar-s-6.jpg"
              alt="Avatar"
              width="33"
              height="33"
            />
          </div>
          <div
            placement="bottom"
            ngbTooltip="Brandon Miles"
            class="avatar pull-up"
          >
            <img
              src="assets/images/portrait/small/avatar-s-8.jpg"
              alt="Avatar"
              width="33"
              height="33"
            />
          </div>
          <div
            placement="bottom"
            ngbTooltip="Daisy Weber"
            class="avatar pull-up"
          >
            <img
              src="assets/images/portrait/small/avatar-s-7.jpg"
              alt="Avatar"
              width="33"
              height="33"
            />
          </div>
          <div
            placement="bottom"
            ngbTooltip="Jenny Looper"
            class="avatar pull-up"
          >
            <img
              src="assets/images/portrait/small/avatar-s-20.jpg"
              alt="Avatar"
              width="33"
              height="33"
            />
          </div>
          <h6 class="align-self-center cursor-pointer ml-50 mb-0">+8</h6>
        </div>
      </div>
    </div>
  </div>
  <!--/ Developer Meetup Card -->
  
</div>
