<div class="content-wrapper">
  <div class="content-body">
    <!-- content-header component -->
    <div class="row">
      <h2 class="content-header-title col-3 float-left mb-1 border-right">
        Paramétres
      </h2>
    </div>

    <!-- account setting page -->
    <section id="page-account-settings">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul
            ngbNav
            #navVertical="ngbNav"
            class="nav nav-pills flex-column nav-left"
          >
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-general"
                data-toggle="pill"
                href="#account-vertical-general"
                aria-expanded="true"
              >
                <i data-feather="user" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Général</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">

                    <!-- form -->
                    <form class="validate-form mt-2">
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-username">Nom</label>
                            <input
                              type="text"
[(ngModel)]="connectedUser.lastName"
                              class="form-control"
                              id="account-username"
                              name="username"
                              placeholder="Username"
                            />
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-name">Prénom</label>
                            <input
                              type="text"
                              [(ngModel)]="connectedUser.firstName"
                              class="form-control"
                              id="account-name"
                              name="name"
                              placeholder="Name"
                            />
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-e-mail">E-mail</label>
                            <input
                              type="email"
                              [(ngModel)]="connectedUser.email"
                              class="form-control"
                              id="account-e-mail"
                              name="email"
                              placeholder="Email"
                            />
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-e-mail">Tel</label>
                            <input
                                    type="email"
                                    [(ngModel)]="connectedUser.tel"
                                    class="form-control"
                                    id="account-e-mail"
                                    name="tel"
                                    placeholder="Email"
                            />
                          </div>
                        </div>

                        
                        <div class="col-12">
                          <button
                            type="submit"
                            class="btn btn-primary mt-2 mr-1"
                            rippleEffect
                            (click)="editConnected()"
                          >
                            Sauvegarder les changements
                          </button>

                        </div>
                      </div>
                    </form>
                    <!--/ form -->
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-password"
                data-toggle="pill"
                href="#account-vertical-password"
                aria-expanded="false"
              >
                <i data-feather="lock" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Changer Mot de Passe</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <!-- form -->
                    <form class="validate-form">
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-new-password"
                              >Nouveau Mot de Passe</label
                            >
                            <div
                              class="
                                input-group
                                form-password-toggle
                                input-group-merge
                              "
                            >
                              <input
[(ngModel)]="passwordTextTypeNew"
                                id="account-new-password"
                                name="new-password"
                                class="form-control"
                                placeholder=""
type="password"
                              />

                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-retype-new-password"
                              >Reécrivez votre nouveau mot de passe</label
                            >
                            <div
                              class="
                                input-group
                                form-password-toggle
                                input-group-merge
                              "
                            >
                              <input
                                      [(ngModel)]="passwordTextTypeRetype"
                                class="form-control"
                                id="account-retype-new-password"
                                name="confirm-new-password"
                                placeholder=""
                                      type="password"
                              />

                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button
                            type="submit"
                            class="btn btn-primary mr-1 mt-1"
                            rippleEffect
                            [disabled]="passwordTextTypeRetype!=passwordTextTypeNew"
                            (click)="updatePassword()"
                          >
                            Sauvegarder les changements
                          </button>

                        </div>
                      </div>
                    </form>
                    <!--/ form -->
                  </div>
                </div>
              </ng-template>
            </li>

          </ul>
        </div>
        <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
      </div>
    </section>
    <!--/ account setting page -->
  </div>
</div>
