<div class="body-content-overlay"></div>
<!-- Main chat area -->
<section class="chat-app-window">
  <!-- To load Conversation -->
  <div class="start-chat-area" [ngClass]="{ 'd-none': activeChat === true }">
    <div class="mb-1 start-chat-icon">
      <i data-feather="message-square"></i>
    </div>
    <h4 class="sidebar-toggle start-chat-text" (click)="toggleSidebar('chat-sidebar')">Start Conversation</h4>
  </div>
  <!--/ To load Conversation -->

  <!-- Active Chat -->
  <div class="active-chat" [ngClass]="{ 'd-none': activeChat !== true }" *ngIf="activeChat === true">
    <!-- Chat Header -->
    <div class="chat-navbar">
      <header class="chat-header">
        <div class="d-flex align-items-center">
          <button class="btn sidebar-toggle d-block d-lg-none mr-1 p-0" (click)="toggleSidebar('chat-sidebar')">
            <i data-feather="menu" class="font-medium-5"></i>
          </button>
          <div style="height: 42px ; width: 42px" class="avatar bg-light-success mr-1">
                    <span style="height: 42px ; width: 42px" class="avatar-content">{{
                      GetInitials(chatUser.firstName, chatUser.lastName)
                      }}</span>
          </div>
          <h6 class="mb-0">{{ chatUser.firstName }} {{chatUser.lastName }}</h6>
        </div>
      </header>
    </div>
    <!--/ Chat Header -->

    <!-- User Chat messages -->
    <div class="user-chats" [perfectScrollbar] #scrollMe [scrollTop]="scrolltop">
      <div class="chats">
        <div
          class="chat"
          *ngFor="let chatRef of chats"
          [ngClass]="{ 'chat-left': chatRef.sender.id === chatUser.id }"

            >
<div >
          <div *ngIf="chatRef.sender.id == chatUser.id" class="chat-avatar">
            <div style="height: 36px ; width: 36px" class="avatar bg-light-success mr-1">
                    <span style="height: 36px ; width: 36px" class="avatar-content">{{
                      GetInitials(chatUser.firstName, chatUser.lastName)
                      }}</span>
            </div>
          </div>
              <div *ngIf="chatRef.sender.id == userProfile.id" class="chat-avatar">
                  <div style="height: 36px ; width: 36px" class="avatar bg-light-success mr-1">
                    <span style="height: 36px ; width: 36px" class="avatar-content">{{
                        GetInitials(userProfile.firstName, userProfile.lastName)
                        }}</span>
                  </div>
              </div>

          <div class="chat-body">
            <div class="chat-content">
        {{chatRef.contenu}}
            </div>
          </div>

</div>



        </div>
      </div>
    </div>
    <!-- User Chat messages -->

    <!-- Submit Chat form -->
    <form class="chat-app-form" action="javascript:void(0);">
      <div class="input-group input-group-merge mr-1 form-send-message">
        <input
          type="text"
          class="form-control message"
          placeholder="Type your message"
          [(ngModel)]="chatMessage.contenu"
          name="chat-message"
        />
      </div>
      <button type="button" class="btn btn-primary send" [disabled]="chatMessage.contenu == '' " (click)="sendMessage()"  rippleEffect>
        <i data-feather="send" class="d-lg-none"></i>
        <span class="d-none d-lg-block">Send</span>
      </button>
    </form>
    <!--/ Submit Chat form -->
  </div>
  <!--/ Active Chat -->
</section>
<!--/ Main chat area -->
